<h1>Welcome <%= @show_user.username %> </h1>

<%= link_to 'Create Event', new_event_path %>
<%= link_to 'All events', events_path %> <br/> <br/>

<h3> Created Events </h3>
<ul>
<% @show_user.event_creator.each do |blabla| %>
  <li>
    <p> <%= link_to blabla.name, event_path(blabla.id) %> </p>
  </li>
<% end %>
</ul>


<h3> Attended Events </h3>
<ul>
<% @upcoming_events.each do |event| %>
  <li>
    <%= event.name %>
  </li>
<% end %>
</ul>

<h3> Will go to </h3>
<ul>
<% @previous_events.each do |event| %>
  <li>
    <%= event.name %>
  </li>
<% end %>
</ul>