<h1> MAKE YOUR EVENT </h1>

<%= form_with(model: @event) do |party| %>
  <%= party.label(:name, "Your Event Name: ") %>
  <%= party.text_field(:name) %>
  <br><br>

  <%= party.label(:when, "When will happen?" ) %>
  <%= party.datetime_field(:when) %>
  <br><br>

  <%= party.submit("Create Event") %>
<% end %>