<h1><%= @event.name %></h1><br> 
<%= @event.description %> <br>

<small> When? : <%= @event.event_when%> </small> <br>
<small> Created by: <%= @event.creator.username%> </small>

<h3> List of Attendants </h3>
<% @event.guests.each do |line| %>
  <%= line.username %>
<% end %>