<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="flex space-between">
      <div>
        <%= link_to 'See all events', events_path %>
        <% if current_user %>
          <%= link_to 'Create Event', new_event_path %>
          <%= link_to 'Profile', user_path(current_user) %>
        <% end %>
      </div>

      <div>
        <% if current_user %>
          <%= link_to 'LOGOUT', new_session_path, method: :delete %>
        <% else %>
          <%= link_to 'REGISTER', new_user_path %>
          <%= link_to 'LOGIN', new_session_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
