<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="flex space-between">
      <div>
        <%= link_to 'See all events', events_path %>

        <%= user_btn_actions %>
      </div>

      <div>
        <%= btn_logout %>
        <%= btn_signup %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
